@charset "ISO-8859-1";
ul
  {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 36px;
	background-color: #D53411;
	font-family: arial,Helvetice, sens-serif;
	font-size: 14px;
 }

li
  {
	float: left;
	border-right: 1px solid #156ee2;
}

a
  {
	display: block;
	padding: 0 28px;
	color: #fff;
	text-decoration: none;
	
 }

 a:hover, .active a
{
	
background-color: #156ee2;	
}

.active a{
	background-color: #156ee2;
 }