.contai{
	margin-left:2%;
	margin-top:8%;
}
.table{
	font-size:25px;
	font-family:times new roman;
}
.contect{
	
	 background: #DDD;

	margin-top:12%;
	margin-left:7.5%;
	margin-right:0%;
	text-align:center;
	width:85%;
	height:310px;
	background-color:black;
	}
strong{
	color:white;
	font-family:times new roman;
	font-size:15px;
}
 h2{
	
	color:white;
}
