.contect{
	
	
	
	margin-right:0%;
	text-align:center;
	width:85%;
	height:310px;
	background-color:grey;
	}
strong{
	color:white;
	font-family:times new roman;
	font-size:15px;
}
 h2{
	
	color:white;
}