.contain{
	margin-left:36%;
	margin-top:8%;
	width:390px;
	height:450px;
	border:1px solid grey;
	background-color:rgba(0,0,0,.12);
	text-align:center;
	border-top-left-radius:40px;
	border-bottom-right-radius:40px;
	backdrop-filter:blur(5px);
}
h2{
	margin-top:35px;
	color:black;
}


input{
	margin-top:30px;
	height:40px;
	width:80%;
	border-radius:7px;
	
}

.btn{
	width:40%;
	background-color:#2874A6;
	color:white;
	border:none;
	font-size:22px;
	font-family:Sitka Text Semibold;
	border-radius:15px;
	margin-top:40px;
	cursor: pointer;
	 
	
}
.btn:hover{
	border:1px solid lightgrey;
	color:white;
	font-size:20px;
	
}


.track{
	text-align:center;
	margin-top:12%;
	width:100%;
	
}

p{
	font-size:27px;
	color:red;
}